#include <zephyr/dt-bindings/sensor/lis2dux12.h>

/ {
  aliases {
    int-accel-body = &lis2dux12_body;
  };
};

&gpio13 {
  status = "okay";
  pinctrl-names = "default";
  pinctrl-0 = <&pinctrl_gpio13>;
};

&i2c0 {
  status = "okay";
  
 
  lis2dux12_body: lis2dux12@18 {
    compatible = "st,lis2dux12";
    status = "okay";
    reg = <0x18>;

    int1-gpios = <&gpio13 0 GPIO_ACTIVE_LOW>;
    int2-gpios = <&gpio13 1 GPIO_ACTIVE_LOW>;
    odr = <LIS2DUX12_DT_ODR_200Hz>;
    power-mode = <LIS2DUX12_OPER_MODE_LOW_POWER>;
  };
};

