# Source common USB sample options (CONFIG_SAMPLE_USBD_*) used to configure the
# new experimental USB device stack via samples/subsys/usb/common.
source "samples/subsys/usb/common/Kconfig.sample_usbd"

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
