/* SRAM0 @ 0x02080000 as zephyr,sram (DTCM 256 KB too small for network stack).
 * 0x02000000-0x0207FFFF kept as NON_SECURE0 for DWMAC + SDHC DMA buffers. */
&sram0 {
	reg = <0x02080000 DT_SIZE_K(512)>;
};

&ns {
	reg = <0x02000000 DT_SIZE_K(512)>;
	status = "okay";
};

/* ---- BLE HCI (Infineon CYW43xxx on UART3) ---- */

/ {
	chosen {
		zephyr,bt-uart = &uart3;
		zephyr,bt-hci = &bt_hci_uart;
	};
};

&gpio0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio0>;
};

&gpio14 {
	status = "okay";
};

&pinctrl {
	pinctrl_uart3: pinctrl_uart3 {
		group0 {
			pinmux = <PIN_P1_2__UART3_RX_A>,
				<PIN_P1_3__UART3_TX_A>,
				<PIN_P7_2__UART3_CTS_B>,
				<PIN_P7_3__UART3_RTS_B>;
		};
	};
};

&uart3 {
	status = "okay";
	current-speed = <115200>;
	hw-flow-control;
	pinctrl-0 = <&pinctrl_uart3>;

	bt_hci_uart: bt_hci_uart {
		compatible = "zephyr,bt-hci-uart";
		status = "okay";

		bt-hci {
			compatible = "infineon,cyw43xxx-bt-hci";
			status = "okay";
			bt-reg-on-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			fw-download-speed = <3000000>;
		};
	};
};

/* ---- WiFi (SDHC + AIROC CYW55513 / Murata 2FY) ---- */

&sdhc {
	compatible = "snps,dwc-sdhc";
	status = "okay";
	power-delay-ms = <500>;
	/* SD_*_A pads rated 25 MHz max (datasheet §3.18).
	 * 50 MHz causes CRC errors on CMD53 to AIROC. */
	max-bus-freq = <25000000>;
	/delete-property/ cd-gpios;

	airoc-wifi {
		compatible = "infineon,airoc-wifi";
		status = "okay";
		wifi-reg-on-gpios = <&gpio14 7 GPIO_ACTIVE_HIGH>;
	};
};

/* ---- Ethernet ---- */

&pinctrl {
	pinctrl_eth0: pinctrl_eth0 {
		#pinctrl-state-cells = <0>;
		#pinctrl-cells = <1>;
		group0 {
			pinmux = <
			PIN_P6_0__ETH_TXD0_A
			PIN_P10_5__ETH_TXD1_B
			PIN_P10_6__ETH_TXEN_B
			PIN_P11_0__ETH_REFCLK_B
			PIN_P11_1__ETH_MDIO_B
			PIN_P11_2__ETH_MDC_B
			PIN_P11_3__ETH_RXD0_B
			PIN_P11_4__ETH_RXD1_B
			PIN_P11_5__ETH_CRS_DV_B
			PIN_P11_6__ETH_RST_B
			PIN_P11_7__ETH_IRQ_B
			>;
		};
	};
};

/ {
	aliases {
		ethernet0 = &eth_alif;
	};

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		
		ethphy: ethernet-phy@1 {
			reg = <1>;
			compatible = "ethernet-phy-ieee802.3-c22";
			micrel,led-mode = <1>;
		};
	};

    eth_alif: ethernet@48100000 {
		compatible = "zephyr,eth-alif";
		reg = <0x48100000 0x10000>;  /* Base address + size */
		interrupt-parent = <&nvic>;
		interrupts = <148 0>;  /* ETH_SBD_IRQ */
		status = "okay";
		label = "eth_alif";
		mac-address = [00 16 3E 11 22 33];
		pinctrl-0 = <&pinctrl_eth0>;
		pinctrl-names = "default";
		phy-handle = <&ethphy>;
	};

    dma_sram: sram@08000000{
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x08000000 0x00010000>;
		zephyr,memory-region = "ETH_DMA";
	};
};