/*
 * SPDX-FileCopyrightText: Copyright Alif Semiconductor
 * SPDX-License-Identifier: Apache-2.0
 *
 * USB Mass Storage overlay for the Alif E7 DK (RTSS-HE):
 *  - enable the DWC3 USB device controller and gate its PHY power on,
 *  - bring up the external ISSI OSPI flash and expose an 8 MiB FAT partition
 *    as the MSC LUN "NAND".
 */

#include <dt-bindings/misc/alif_aipm_common.h>

&aipm_run_default {
	phy-pwr-gating = <ALIF_PHY_GATE_USB_MASK>;
};

&ns {
	status = "okay";
};

zephyr_udc0: &usb {
	status = "okay";
};

/*
 * External OSPI flash (ISSI IS25WX, 64 MiB) on OSPI1.
 * The E7 DK routes the read data strobe (RXDS) to P10_7, not the default
 * P5_6 used by pinctrl_ospi1 - using the wrong RXDS pin breaks DDR reads.
 */
&pinctrl {
	/* OSPI1_RESETn (P2_7) is not used/declared */
	pinctrl_flash: pinctrl_flash {
		group0 {
			pinmux = < PIN_P5_5__OSPI1_SCLK_C >,
				 < PIN_P10_7__OSPI1_RXDS_C >,
				 < PIN_P5_7__OSPI1_SS0_C >,
				 < PIN_P9_5__OSPI1_D0_C >,
				 < PIN_P9_6__OSPI1_D1_C >,
				 < PIN_P9_7__OSPI1_D2_C >,
				 < PIN_P10_0__OSPI1_D3_C >,
				 < PIN_P10_1__OSPI1_D4_C >,
				 < PIN_P10_2__OSPI1_D5_C >,
				 < PIN_P10_3__OSPI1_D6_C >,
				 < PIN_P10_4__OSPI1_D7_C >;
			read-enable = <0x1>;
			drive-strength = <12>;
			slew-rate = <0x1>;
		};
	};
};

&ospi1 {
	pinctrl-0 = <&pinctrl_flash>;
	status = "okay";
};

&ospi_flash {
	status = "okay";
};

&flash_storage {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		ospi_storage: partition@0 {
			label = "ospi-storage";
			reg = <0x0 DT_SIZE_M(8)>;
		};
	};
};

/ {
	flashdisk0 {
		compatible = "zephyr,flash-disk";
		partition = <&ospi_storage>;
		disk-name = "NAND";
		sector-size = <512>;
		/* OSPI flash erase-block-size is 4 KiB */
		cache-size = <4096>;
	};
};
